{% include 'partials/header.twig' %}

<div class="container-fluid d-flex align-items-center flex-column contact">
    <h1 class="text-uppercase">About</h1>
    <ul class="list-group list-group-flush">
        <a href="https://github.com/maximebergerard"><li class="list-group-item bg-transparent"><img src="{{ base_url() }}/assets/images/github.svg" alt="icon social media">Gitbub</li></a>
        <a href="mailto:maxime.bergerard@gmail.com"><li class="list-group-item bg-transparent"><img src="{{ base_url() }}/assets/images/gmail.svg" alt="icon social media">Mail</li></a>
        <a href="https://dribbble.com/maxime_brgrd"><li class="list-group-item bg-transparent"><img src="{{ base_url() }}/assets/images/dribbble.svg" alt="icon social media">Dribbble</li></a>
        <a href="https://www.linkedin.com/in/maxime-bergerard/"><li class="list-group-item bg-transparent"><img src="{{ base_url() }}/assets/images/linkedin.svg" alt="icon social media">Linkedin</li></a>
        <a href="https://albandelachaume.fr/"><li class="list-group-item bg-transparent"><img src="{{ base_url() }}/assets/images/site.svg" alt="icon social media">The one who designed this folio</li></a>
    </ul>
</div>

{% include 'partials/footer.twig' %}
